body {
  overflow-x: hidden;
  @include size(100vw, 100vh);
  font-size: var(--text-base);
  font-family: var(--font-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
