$font-size: 16px;

:root {
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;
  --text-5xl: 48px;
  --text-6xl: 60px;
}

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1230px,
  xl: 1500px,
  xxl: 1920px,
);

:root {
  --font-primary: sans-serif;
  --font-secondary: sans-serif;
}
