/* Dodaj stylowanie dla AddProductPage */

/* Kontener główny */
.add-product-container {
  max-width: 600px;
  margin: 0 auto;

  padding: 20px;
}

/* Nagłówek */
.add-product-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Formularz */
.add-product-form {
  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  /* Stylowanie datalisty */
  input[type="text"][list] {
    appearance: none;
    -moz-appearance: textfield;
  }

  .image-preview-container {
    margin-bottom: 20px;
  }

  .image-preview-selected {
    display: flex;
    max-width: 400px;
    align-items: center;
    position: relative;
  }

  .selected-image {
    max-width: 400px;
    height: auto;
    margin-right: 10px;
  }

  .remove-image-btn {
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 20px;
    padding: 4px 8px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }

  .image-preview-thumbnails {
    display: flex;

    .thumbnail {
      max-width: 60px;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
/* Podgląd wybranych zdjęć */
