.product-page {
  display: flex;

  flex-direction: row;
  margin: 5% 20% 0px 20%;
  @media (max-width: 1200px) {
    flex-direction: column;
    margin: 5% 10%;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  @media (max-width: 1200px) {
    margin-right: 0;
    margin-bottom: 20px;
    align-items: flex-start;
  }
}

.product-name {
  font-size: 24px;
  height: 40px;
  font-weight: bold;
  align-self: flex-start;
}

.product-image img {
  width: 700px;
  height: 500px;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.product-additionalInfo {
  margin: 10px 20vw;
  @media (max-width: 1200px) {
    margin: 10px 10%;
  }
  .product-description {
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    align-self: flex-start;
    margin-bottom: 20px;
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  @media (max-width: 1200px) {
    width: 100%;
  }

  .product-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-top: 40px;
      span {
        font-weight: bold;
      }
    }
  }
  .product-popularity {
    font-size: 16px;
    font-weight: bold;

    &.low-popularity {
      color: red;
    }
    &.medium-popularity {
      color: #ffc107;
    }

    &.high-popularity {
      color: green;
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: 10px 0px;
    border: none;
  }

  .product-price {
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }

  .product-quantity {
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
