.productsListPage {
  margin: 10px;
}

.mw-50{
  max-width: 50%;
}

.bg-high-priority{
  background-color: rgb(151, 17, 136);
}

.bg-mid-priority{
  background-color: #0d6efd;
}

.bg-low-priority{
  background-color: #fd7e14;
}

.border{
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(49, 0, 43);
}