.MainPageProducts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @include media-below(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-below(xs) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  margin: 30px 0px;
}

.productCard {
  margin: 5px 5px;
  cursor: pointer;
  position: relative;
  height: 300px;
  width: 200px;
  transition: 0.3s ease;
  &::before {
    content: "";
    display: block;
    width: 100%;
  }
  &__background {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    background-position: center;
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: 0.3 ease;
  }
  &__content {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    color: white;
    h5 {
      color: rgb(255, 255, 255);
    }
  }

  &:hover &__background {
    transform: scale(1.15) translateZ(0);
    background-size: 250px;
  }
  @include media-below(sm) {
    width: 150px;
    height: 200px;
  }
  @include media-below(xs) {
    width: 40vw;
    height: 200px;
  }
}

.productCard.not-hovered {
  filter: brightness(0.5);
  transform: scale(0.9);
}
